.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(124, 122, 122);
}

h1 {
  margin: 50px;
  font-size: 60px;
}
h1,
h2,
li,
input {
  color: #a86;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
